{% extends "base.html" %}
{% load static %}

{% block page_title %}Recyclables DB{% endblock %}
{% block subtitle %}
<p class="subtitle text-base text-gray-500 mt-1">재활용 분류 이미지 리스트</p>
{% endblock subtitle %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/recycle.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="waste-container">
  <p id="empty-message">내용이 존재하지 않습니다.</p>
</div>

<!-- 모달 -->
<div class="modal-sheet" id="modal-sheet">
  <div class="modal-close"></div>
  <div class="modal-content">
    <img id="modal-image" src="" alt="이미지 예측 결과">
    <div class="modal-card">
      <h4>예측결과</h4>
      <p id="modal-predicted"></p>
    </div>
    <div class="modal-card">
      <h4>분리처리 안내</h4>
      <p id="modal-guide"></p>
    </div>
    <div class="modal-card">
      <h4>Top 3 예측결과</h4>
      <p id="modal-top3"></p>
    </div>
    <div class="modal-card">
      <h4>쓰레기 분류</h4>
      <div class="select-button-group" id="modal-category-buttons"></div>
    </div>
    <button id="modal-update-btn">수정</button>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/recycle.js' %}"></script>
{% endblock %}