{% extends "base.html" %}
{% load static %}

{% block page_title %}BBC Asia 최신 뉴스{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h2>🌏 BBC Asia 최신 뉴스</h2>

  <ul id="news-list">
    <li>뉴스 데이터를 불러오는 중입니다...</li>
  </ul>

  <button class="reload" onclick="loadNews()">🔄 새로고침</button>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'js/news.js' %}"></script>
{% endblock %}