{% extends "base.html" %}
{% load static %}

{% block page_title %}Final_project{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="content-layout">
  <div class="main-content">
    <div class="promotion-section">
      <div class="promo-text-area">
        <h2>Recycling and Coffee</h2>
      </div>
      <div class="promo-image-area">
        <img src="{% static 'images/main.png' %}" alt="Decaffeinated Coffee Promotion">
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock extra_script %}